body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
  line-height: 1.5;
}

.container {
  display: flex;
  flex-grow: 0;
  width: 50%;
  margin: auto;
  justify-content: center; 
  align-items: center; 
}


.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.help{
  color: #FEF2BF;
  font-size: 1.5rem;
  margin: 20% 10% 0 10%;
  line-height: 2.5rem;
  
}

footer {
  color: #FEF2BF;
  font-size: larger;
}


@media (max-width: 1000px) {
  .container {
    margin-top: 20%;
  }

  #level-title {
    font-size: 3rem;
    margin-top: 10%;
  }
  footer{
    margin-top: 20%;
    font-size: 3rem;
  }

}